menu "Example Configuration"

    config MESH_ROUTER_SSID
        string "Router SSID"
        default "bumblebee"
        help
            Router SSID.

    config MESH_ROUTER_PASSWD
        string "Router password"
        default "cherrycookies"
        help
            Router password.

    choice
        bool "Mesh AP Authentication Mode"
        default WIFI_AUTH_WPA2_PSK
        help
            Authentication mode.

        config WIFI_AUTH_OPEN
            bool "WIFI_AUTH_OPEN"
        config WIFI_AUTH_WPA_PSK
            bool "WIFI_AUTH_WPA_PSK"
        config WIFI_AUTH_WPA2_PSK
            bool "WIFI_AUTH_WPA2_PSK"
        config WIFI_AUTH_WPA_WPA2_PSK
            bool "WIFI_AUTH_WPA_WPA2_PSK"
    endchoice

    config MESH_AP_AUTHMODE
        int
        default 0 if WIFI_AUTH_OPEN
        default 2 if WIFI_AUTH_WPA_PSK
        default 3 if WIFI_AUTH_WPA2_PSK
        default 4 if WIFI_AUTH_WPA_WPA2_PSK
        help
            Mesh AP authentication mode.   
            
    config FW_VERSION_MAJOR
        int "Major version"
        default 0
        range 0 99
        help
            Major version number (0-99)

    config FW_VERSION_MINOR
        int "Minor version" 
        default 1
        range 0 99
        help
            Minor version number (0-99)

    config FW_VERSION_PATCH
        int "Patch version"
        default 2
        range 0 99
        help
            Patch version number (0-99)

endmenu
